.aboutContainer {
  width: auto;
  height: auto;
}
.bg {
  object-fit: contain;
  width: 2400px;
  height: 680px;
  margin-top: 200px;
  margin-left: 70px;
}
.aboutbg {
  object-fit: contain;
  width: 2000px;
  height: 480px;
  margin-top: 260px;
  margin-left: -160px;
}
.aboutIBDH1 {
  font-size: 80px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 900px;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
}
.aboutIBDH2 {
  font-size: 80px;
  position: absolute;
  text-decoration: underline;
  top: 0;
  bottom: 350px;
  left: 1400px;
  right: 0;
  height: fit-content;
  margin: auto;
}
.HISIBDT {
  position: absolute;
  padding-right: 100px;
  height: fit-content;
  font-size: 20px;
  margin: auto;
  top: 150px;
  bottom: 200px;
  left: 1400px;
  right: 0;
}
.paragraph {
  color: white;
  position: absolute;
  height: fit-content;
  margin: auto;
  font-weight: bold;
  top: 1000px;
  bottom: 0px;
  left: 900px;
  right: 0;
}
.test {
  color: white;
}
