.homeContainer {
  width: auto;
  height: auto;
}
.navBarText {
  display: inline-flex;
  padding-top: 25px;
}
.bg1 {
  object-fit: cover;
}
.bg-text {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.header {
  font-size: 80px;
  color: black;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 900px;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
}
.headerS {
  font-size: 80px;
  color: purple;
  text-align: center;
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
}
.button1 {
  font-size: 20px;
  color: black;
  position: absolute;
  width: 200px;
  top: 0;
  bottom: 400px;
  left: 0;
  right: 2000px;
  height: 80px;
  border-radius: 0;
  margin: auto;
}
.button2 {
  font-size: 20px;
  justify-content: center;
  color: black;
  position: absolute;
  width: 200px;
  top: 0;
  bottom: 400px;
  left: 800px;
  right: 2000px;
  height: 80px;
  border-radius: 0;
  margin: auto;
}
.button3 {
  font-size: 20px;
  justify-content: center;
  color: black;
  position: absolute;
  width: 200px;
  top: 0;
  bottom: 400px;
  left: 1380px;
  right: 2000px;
  height: 80px;
  border-radius: 0;
  margin: auto;
}
.button4 {
  font-size: 20px;
  justify-content: center;
  color: black;
  position: absolute;
  width: 200px;
  top: 0;
  bottom: 400px;
  left: 1770px;
  right: 0;
  height: 80px;
  border-radius: 0;
  margin: auto;
}
.button5 {
  font-size: 20px;
  justify-content: center;
  color: black;
  position: absolute;
  width: 200px;
  top: 500px;
  bottom: 0;
  left: 0;
  right: 1200px;
  height: 80px;
  border-radius: 0;
  margin: auto;
}
.button6 {
  font-size: 20px;
  justify-content: center;
  color: black;
  position: absolute;
  width: 200px;
  top: 500px;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 80px;
  border-radius: 0;
  margin: auto;
}
.button7 {
  font-size: 20px;
  justify-content: center;
  color: black;
  position: absolute;
  width: 200px;
  top: 500px;
  bottom: 0px;
  left: 1200px;
  right: 0;
  height: 80px;
  border-radius: 0;
  margin: auto;
}
